@import "bootstrap.less";

.chartable {
    .table;
    .table-striped;
    .table-bordered;
    .table-hover;
}

li.mainbtn {
    margin-right: 5px;
}
button.mainbtn {
    margin-top: 10px;
}
h2.mainbtn {
    font-size: 25px;
    margin-right: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#login-buttons {
    margin-top: 13px;
    margin-left: 10px;
}

div.login-link-and-dropdown-list a {
    color: #777777;
}

div.control-group {
    margin-bottom : 0;
}
