@import "bootstrap.less";

@baseFontSize : 13px;
@baseLineHeight : 18px;
@tableBackgroundAccent: #f0f0f0;
@tableBackgroundHover: #DBDBDB;

.chartable {
    .table;
    .table-striped;
    .table-bordered;
    .table-hover;
}

.chartable td {
    padding-top: 2px;
    padding-bottom: 2px;
}

li.mainbtn {
    margin-right: 5px;
}
button.mainbtn {
    margin-top: 10px;
}
h2.mainbtn {
    font-size: 25px;
    margin-right: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#login-buttons {
    margin-top: 13px;
    margin-left: 10px;
}

div.login-link-and-dropdown-list a {
    color: #777777;
}

div.control-group {
    margin-bottom : 0;
}

div.unvisible {
    visibility: hidden;
}
input[type="text"], .uneditable-input {
    margin-bottom: 0px;
}
